@import "tailwindcss";

@theme {
  --font-pixel: "Fusion Pixel 10px Proportional SC", sans-serif;
}

.border-pixel {
  border-image: url(/button-border.svg) 2/4px/0px stretch;
  clip-path: polygon(
    4px 0px,
    4px 2px,
    2px 2px,
    2px 4px,
    0px 4px,
    0px calc(100% - 4px),
    2px calc(100% - 4px),
    2px calc(100% - 2px),
    4px calc(100% - 2px),
    4px 100%,
    calc(100% - 4px) 100%,
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 4px),
    100% calc(100% - 4px),
    100% calc(100% - 4px),
    100% 4px,
    calc(100% - 2px) 4px,
    calc(100% - 2px) 2px,
    calc(100% - 4px) 2px,
    calc(100% - 4px) 0px
  );
}
