@import "tailwindcss";

@theme {
  --color-wood: #5c4334;
  --font-pixel: "Fusion Pixel 10px Proportional SC", sans-serif;
  --font-body: "Onest Variable", sans-serif;
}

@layer utilities {
  @keyframes bob {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  .animate-bob {
    animation: bob 2s ease-in-out infinite;
  }
}

.clip-pixel {
  clip-path: polygon(
    4px 0px,
    4px 2px,
    2px 2px,
    2px 4px,
    0px 4px,
    0px calc(100% - 4px),
    2px calc(100% - 4px),
    2px calc(100% - 2px),
    4px calc(100% - 2px),
    4px 100%,
    calc(100% - 4px) 100%,
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 4px),
    100% calc(100% - 4px),
    100% calc(100% - 4px),
    100% 4px,
    calc(100% - 2px) 4px,
    calc(100% - 2px) 2px,
    calc(100% - 4px) 2px,
    calc(100% - 4px) 0px
  );
}

.border-pixel-wood {
  border-image: url(/wood-border.svg) 2/4px/0px stretch;
}

.border-pixel-progress {
  border-image: url(/progress-border.svg) 2/4px/0px stretch;
}

.border-pixel-button {
  border-image: url(/button-border.svg) 2/4px/0px stretch;
}
